body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav{
    font-family: sans-serif;
}

nav ul{
    display:flex;
    list-style: none;
    height:65px;
    background-color: black;
    align-items: center;
    color:white;
}

.brand img{
    width:44px; 
    padding: 0 8px; 
}

.brand{
    display:flex;
    align-items: center;
    font-weight:bold;
    font-size:1.3rem;
}

nav ul li{
    padding:0 12px;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    margin:23px auto;
    width:70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg.jpg");
    background-size: cover;
}
.bottom{
    position:sticky;
    height:100px;
    background-color:black;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons:hover{
    cursor: pointer;
}
#myprogressBar{
    width:80vw;
    cursor: pointer;

}
.songitemcontainer{
    margin-top: 74px;
}

.songitem{
    height: 50px;
    display:flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.songitem img{
   width:43px;
   margin: 0 23px;
   border-radius: 34px;

}

.time{
    margin:0 23px;
    text-align: center;
    vertical-align:middle;
}

.time i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left:10vw;
    font-family:'Times New Roman', Times, serif;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}